@import url("../reset.css");

:host {
    --border: #000;
}

.select {
    width: 300px;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid var(--border);
}

.select__select-row {
    height: 45px;
    margin: 3% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.select_select-row_main {
    width: 90%;
}

.select__main-select-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.select__arrow {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.select__select-options-list {
    border-top: 1px solid #000;
    margin-top: 4%;
    padding-top: 4%;
}

.select__select-options-list_disable {
    display: none;
}

.custom-select {
    width: 300px;
    height: 80px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-body {
    width: 280px;
    height: 60px;
}

.select-row {
    display: flex;
}

.select__main-option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

img {
    width: 60px;
}